h1{
    text-align: center;
}
.container {
    display: inline-grid;
    grid-template-columns:auto auto auto;
    background-color: #faebd7;
    padding: 20px;

  }
  .container > div {
    background-color: #f1f1f1;
    border: 1px solid black;
    padding: 5px;
    font-size: 30px;
    text-align: center;
  }

  .container > div.emoji {
    text-align: center;
  }


  